{
    storage file_system .\caddy
}

localhost 127.0.0.1 {
    root * ..\www
    log {
        output file .\log\caddy.log
        format console
    }
    php_fastcgi 127.0.0.1:9000
    file_server browse
}
